.header {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;

    .container {
        @media (min-width: 320px) and (max-width: 767px) {
            padding: 0px;
        }

        .h-l {
            @media (min-width: 320px) and (max-width: 767px) {
                min-height: 0px;
            }

            .header-leftpart {
                ul {
                    @include custom-display(flex);

                    list-style: none;
                    padding: 0px;

                    li {
                        color: map-get($colors, white);
                    }
                }
                @media (min-width: 768px) and (max-width: 991px) {
  
                    display:none;
                    
                  }
                @media (min-width: 320px) and (max-width: 767px) {
                    display: none;
                }
            }
        }

        .header-rightpart {
            ul {
                padding: 0px;
                list-style: none;

                @include custom-display(flex);
                @include custom-justify-content(flex-end);

                .dropdown:hover > .dropdown-menu {
                    display: block;

                    @include custom-boxshadow(0px, 0px, 0px, 1px, #ebebeb);
                }

                .btn {
                    background: transparent;
                    color: map-get($colors, white);
                    border: none;
                    padding: 0px;
                    padding-left: 25px;

                    &:hover {
                        .user {
                            color: map-get($colors, secondary-text-color);

                            @include custom-transition(all, 0.5s, ease);
                        }
                    }

                    &:after {
                        display: none;
                    }

                    &:focus {
                        box-shadow: none;
                    }

                    &:active {
                        background: map-get($colors, white);
                        color: map-get($colors, primary-text-color);
                    }
                }

                .dropdown > .dropdown-toggle:active {
                    pointer-events: none;
                }

                li {
                    &:first-child {
                        cursor: pointer;
                        color: map-get($colors, white);
                    }
                }
            }

            @media (min-width: 320px) and (max-width: 767px) {
                display: none;
            }
        }

        .custom-nav {
            background: rgba(0, 0, 0, 0.8);

            @media (min-width: 320px) and (max-width: 767px) {
                margin: 0px;
            }
            .navbar-toggler{
                span{
                    @media (min-width: 768px) and (max-width: 991px) {
  
                        color: map-get($colors ,secondary-text-color );
                        font-size:24px;
                        
                      }
                    @media (min-width: 320px) and (max-width: 767px) {
  
                        color: map-get($colors ,secondary-text-color );
                        font-size:24px;
                        
                      }
                }
            }

            ul {
                li {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-right: 21px;
                    color: map-get($colors, global-text-color);
                    
            @media (min-width: 992px) and (max-width: 1280px) {
  
            padding-right: 10px;
    
                }
                    &:hover {
                        .dropdown-menu {
                            display: block;
                        }
                    }

                    a {
                        text-transform: uppercase;
                        color: map-get($colors, white);

                        &::after {
                            display: none;
                        }
                    }

                    .dropdown-menu {
                        @include custom-boxshadow(0px, 0px, 0px, 1px, #ebebeb);
                        @include custom-borderradius(0px, 0px, 0px, 0px);

                        a {
                            color: black;
                            padding: 6px 35px;
                            font-weight: 400;
                            text-transform: none;

                            &:hover {
                                .hover-underline {
                                    width: 75px;
                                    background: map-get($colors, secondary-text-color);

                                    @include custom-transition(all, 0.5s, ease);
                                }
                            }

                            span {
                                padding-left: 3px;
                                font-weight: 700;
                                color: map-get($colors, secondary-text-color);
                            }

                            .hover-underline {
                                height: 2px;
                                width: 0px;
                            }
                        }
                    }
                }
            }

            .navlink-image {
                @include custom-display(flex);

                li {
                    list-style: none;
                    padding-left: 20px;

                    a {
                        img {
                            filter: brightness(45);
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 0px;
    }
}

.custom-carousel {
    width: 100%;
    overflow: hidden;

    &:hover {
        .owl-nav button.owl-prev {
            margin-left: 0px;
            transform: scale(1.8);
            transition: all 0.5s ease;
        }

        // .item{
        //     img{

        .owl-nav button.owl-next {
            margin-right: 0px;
            transform: scale(1.8);
            transition: all 0.5s ease;
        }
    }

    .owl-theme {
        .owl-dots {
            display: none;
        }
    }

    .owl-nav button.owl-prev {
        position: absolute;
        left: 100px;
        top: 48%;
        display: block;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        height: 20px;
        width: 20px;
        cursor: pointer;
        margin-left: -10rem;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
            color: black;
            transform: scale(1.8);
            transition: all 0.5s ease;
        }
    }

    .owl-nav button.owl-next {
        position: absolute;
        right: 100px;
        top: 48%;
        display: block;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        height: 20px;
        width: 20px;
        cursor: pointer;
        margin-right: -10rem;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
            color: black;
        }
    }

    .item {
        img {
            @media (min-width: 320px) and (max-width: 767px) {
                height: 85vh;
            }
        }
    }
}

.carousel-content {
    position: absolute;
    top: 44%;
    right: 118px;
    z-index: 99;
    color: map-get($colors, white);

    @media (min-width: 320px) and (max-width: 767px) {
        right: 15px;
    }

    h4 {
        font-weight: 700;
        letter-spacing: 0.4em;
        text-align: right;

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 16px;
            letter-spacing: 0.01em;
        }
    }

    h1 {
        text-transform: uppercase;
        font-weight: 700;

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 25px;
            text-align: right;
            margin-top: 10px;
        }
    }

    .first-btn {
        @include custom-btn(13px 29px, 14px, map-get($colors, text-underline-color), map-get($colors, white), 20px, 0.05em);
        @include custom-borderradius(0px, 0px, 0px, 0px);

        // border: 0px;
        border: 0px;
        float: right;
        text-transform: uppercase;
        font-weight: 700;

        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 10px;
            padding: 5px 15px;
        }
    }
}

.second-row {
    .image-wrapper {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        font-size: 0;
        cursor: pointer;
        position: relative;

        @media (min-width: 320px) and (max-width: 767px) {
            padding-bottom: 25px;
        }

        img {
            max-width: 100%;

            @include custom-transition(all, 0.5s, ease);

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .save-text {
        position: absolute;
        top: 50%;
        padding-left: 70px;
        text-transform: uppercase;
        @media (min-width: 768px) and (max-width: 991px) {
  
            padding-left: 30px;
            
          }
        @media (min-width: 320px) and (max-width: 767px) {
            padding-left: 20px;
            top: 33%;
        }

        h4 {
            line-height: 1.2px;

            a {
                @extend %second-row-a;
                @media (min-width: 768px) and (max-width: 991px) {
  
                    font-size:16px;
                    
                  }

                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }

        h2 {
            a {
                @extend %second-row-a;
                @media (min-width: 768px) and (max-width: 991px) {
  
                    font-size:25px;
                    
                  }
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 18px;
                }
            }
        }
    }
}

.collection-div {
    .collection-title {
        h4 {
            color: map-get($colors, secondary-text-color);
        }

        @extend %collection-title;
    }

    .product {
        @extend %productoo;
        margin-top:45px;
        position: relative !important;
        @media (min-width: 768px) and (max-width: 991px) {
  
            margin-top:45px;
            
          }

        @media (min-width: 320px) and (max-width: 767px) {
            margin-bottom: 45px;
               
            
        }

        .product-details {
            @extend %productdetails;
        }
       
    }
    @media (min-width: 768px) and (max-width: 991px) {
  
        padding-top:30px;
        padding-bottom:30px;
        
      }
    
        @media (min-width: 320px) and (max-width: 767px) {
            padding-top: 30px;
            padding-bottom: 30px;
            
          }
    
}

.parallax-div {
    background: url(../images/25.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    background-attachment: fixed;
    height: 90vh;
    
@media (min-width:992px) and (max-width: 1280px) {
  
    height:auto;
    padding-bottom: 2rem;
    
  }
    @media (min-width: 768px) and (max-width: 991px) {
  
        height:auto;
        
      }
    @media (min-width: 320px) and (max-width: 767px) {
        height: auto;
    }

    .collection-title {
        @extend %collection-title;

        h2 {
            color: map-get($colors, white);
        }

        p {
            color: map-get($colors, white);
            margin: auto;
            letter-spacing: 0.05em;
            line-height: 24px;
        }
    }
}

.product {
    @extend %productoo;

    padding: 0px;

    .hover-icons {
        left: 20px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
  
        margin-bottom: 30px;
        
      }

    @media (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 0px;
        // padding-bottom:1px ;
        &:last-child{
            padding-bottom:2rem;
        }
       
    }
}

.product-details {
    @extend %productdetails;

    background: map-get($colors, white);
}

.blog-div {
    .collection-title {
        @extend %collection-title;
        @media (min-width: 320px) and (max-width: 767px) {
  
            padding-top:30px;
            
          }
    }

    .custom-carousel {
        .item {
            overflow: hidden;

            .card {
                position: relative;
                overflow: hidden;
                cursor: pointer;

                @include custom-borderradius(0px, 0px, 0px, 0px);

                &:hover {
                    .one {
                        transform: scale(1.2) rotate(5deg);

                        @include custom-transition(transform, 0.5s, ease-in-out);
                    }

                    .mask {
                        display: block;
                    }
                }

                .one {
                    max-height: 219px;

                    @include custom-transition(transform, 0.5s, ease-in-out);

                    //  &:hover {
                    //     transform: scale(1.2) rotate(5deg);
                    //     @include custom-transition(transform, 0.5s, ease-in-out);

                    // }
                    img{
                        @media (min-width: 320px) and (max-width: 767px) {
  
                            height:auto;
                            
                          }
                    }
               
                }

                .mask {
                    position: absolute;
                    background: map-get($colors, card-color);
                    height: 100%;
                    width: 100%;
                    top: 0;
                    width: 350px;
                    display: none;
                }
            }
        }

        h4 {
            color: map-get($colors, secondary-text-color);
            letter-spacing: 0.03em;
        }

        p {
            font-weight: 700;
            letter-spacing: 0.03em;
            text-transform: uppercase;

            a {
                text-decoration: none;
                color: map-get($colors, primary-text-color);

                &:hover {
                    color: map-get($colors, secondary-text-color);

                    @include custom-transition(all, 0.5s, ease);
                }
            }
        }

        h6 {
            font-weight: 400;
            color: map-get($colors, small-font-color);
        }

        .owl-theme .owl-nav {
            display: none;
        }
    }
}

.second-parallax {
    background: url(../images/parallax.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    background-attachment: fixed;

    .carousel-four{ 
    
        @media (min-width: 320px) and (max-width: 767px) {

            padding-bottom:30px;
            padding-top: 0px;
            
          }
    
        .item {
           
            cursor: pointer;

            &:hover {
                .mask {
                    display: flex;
                    transition-duration: .4s;

                    // @include custom-transition(all, 0.5s, ease);

                    // i{
                    //     display: block;
                    //     transform: scale(1) rotate(-90deg) !important;
                    //     // transition: 0.70s;
                    //     // transform: scale(1) rotate(0deg);
                    //     // transform: scale(3) rotate(90deg);

                    // }
               
                }

                .overlay {
                    i {
                        transform: scale(1) rotate(0deg);
                        opacity: 1;
                    }
                }
            }

            .mask {
                background: map-get($colors, card-color);
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                display: none;

                @include custom-transition(all, 0.5s, ease);
            }

            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    // display: none;
                    color: white;
                    text-align: center;
                    margin: auto;
                    opacity: 1;
                    transform: scale(2.5) rotate(90deg);
                    transition-duration: .6s;
                    opacity: 0;

                    // transform: scale(3) rotate(90deg) !important;
                    // transition-duration: .5s;
               
                }
            }
            img{
                @media (min-width: 320px) and (max-width: 767px) {
  
                    height:auto;
                    
                  }
            }
        }
    }

    .instagram {
        h6 {
            color: map-get($colors, white);
            font-weight: 700;
            text-transform: uppercase;
        }
        @media (min-width: 320px) and (max-width: 767px) {
  
            padding-top:30px;

            
          }
    }
}

.carousel-three {
    @media (min-width: 320px) and (max-width: 767px) {
        padding: 0px;
    }

    .owl-drag .owl-item {
        @media (min-width: 320px) and (max-width: 767px) {
            width: 155px !important;
        }

        .item {
            a {
                img {
                    height: 150px;
                    width: 150px;
                    margin: auto;

                    @include opacity(0.5);

                    &:hover {
                        @include opacity(1);
                        @include custom-transition(all, 0.5s, ease);
                    }

                    @media (min-width: 320px) and (max-width: 767px) {
                        height: auto;
                        width: 125px;
                    }
                }
            }

            @media (min-width: 320px) and (max-width: 767px) {
                margin-top: 50px;
            }
        }
    }
}

.footer {
    background: url(../images/footerimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .footer-inner {
        @include custom-border(bottom, 1px, solid, map-get($colors, footer-border-color));

        .footer-left-content {
            .footer-logo {
                text-align: center;

                @media (min-width: 320px) and (max-width: 767px) {
                    text-align: left;
                }
            }

            .footer-para {
                color: map-get($colors, white);
                text-align: center;
                line-height: 32px;
                letter-spacing: 0.03em;

                @media (min-width: 320px) and (max-width: 767px) {
                    text-align: left !important;
                }
            }
        }

        .footer-middle {
            text-align: center;
            padding: 10px 110px;

            @include custom-border(left, 1px, solid, map-get($colors, footer-border-color));
            @include custom-border(right, 1px, solid, map-get($colors, footer-border-color));
            @media (min-width: 768px) and (max-width: 991px) {
  
                padding: 0px;
                border: none;
                
              }

            @media (min-width: 320px) and (max-width: 767px) {
                padding: 0px;
                border: none;
            }

            .footer-header {
                color: map-get($colors, white);
                font-weight: 700;

                @media (min-width: 320px) and (max-width: 767px) {
                    text-align: left;
                }
            }

            .form {
                padding: 20px 0;

                .footer-input {
                    text-align: center;
                    width: 315px;

                    @include custom-placeholder {
                        letter-spacing: 5px;
                        font-size: 12px;
                    }


                    &:focus {
                        outline: none;
                    }

                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 256px;
                        padding-top: 0px !important;
                        padding-bottom: 0px !important;
                    }

                    @media (min-width: 320px) and (max-width: 767px) {
                        padding: 0px !important;
                    }
                }

                @media (min-width: 320px) and (max-width: 767px) {
                    @include custom-display(flex);
                }
            }

            .buttons {
                .footer-button {
                    @include custom-btn(13px 29px, 14px, map-get($colors, text-underline-color), map-get($colors, white), 20px, 0.05em);
                    @include custom-borderradius(0px, 0px, 0px, 0px);
                    @include custom-border(top, 0px, null, null);

                    border: 0px;
                    font-weight: 700;
                    letter-spacing: 0.05em;

                    @media (min-width: 320px) and (max-width: 767px) {
                        padding: 13px 8px;
                    }
                }

                

            }
        }

        .footer-right-content {
            h4 {
                @include custom-border(bottom, 1px, solid, map-get($colors, media-border-color));

                font-size: 17px;
                padding-bottom: 10px;
            }

            .footer-para {
                color: map-get($colors, white);
                text-align: center;
                line-height: 30px;

                @media (min-width: 320px) and (max-width: 767px) {
                    text-align: left !important;
                }

                a {
                    color: map-get($colors, white);
                    text-decoration: none;
                }
            }

            .footer-header {
                text-align: center !important;
                color: map-get($colors, white);
                font-weight: 700;

                @media (min-width: 320px) and (max-width: 767px) {
                    text-align: left !important;
                }
            }
        }

        .footer-footer {
            padding: 20px 0;

            @include custom-display(flex);

            @media screen and (max-width: 509px) {
                @include custom-display(block);
            }

            .footer-footer-left {
                flex-grow: 1;

                .footer-para {
                    // color: map-get($color, primary);
                    line-height: 30px;
                }
            }

            .footer-footer-right {
                @include custom-display(flex);

                justify-content: flex-end;
                flex-grow: 1;

                @media screen and (max-width: 509px) {
                    justify-content: flex-start;
                    padding-top: 10px;
                }

                a {
                    padding: 0 5px;

                    &:last-child {
                        padding: 0 0 0 5px;
                    }
                }
            }
        }

        @media (min-width: 320px) and (max-width: 767px) {
            padding-bottom: 0px;

            @include custom-border(bottom, 0px, null, null);
        }
    }

    .account {
        h4 {
            color: map-get($colors, white);
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.03em;

            @media (min-width: 320px) and (max-width: 767px) {
                text-align: left !important;
                font-size: 17px;

                @include custom-border(bottom, 1px, solid, map-get($colors, media-border-color));

                padding-bottom: 10px;
            }
        }

        .account-link {
            ul {
                list-style: none;

                @include custom-display(flex);
                @include custom-justify-content(center);

                @media (min-width: 320px) and (max-width: 767px) {
                    flex-direction: column;
                    padding: 0px;
                    text-align: left;
                }

                li {
                    padding: 0px 25px;
                    text-transform: capitalize;

                    @media (min-width: 320px) and (max-width: 767px) {
                        padding: 0px;
                        padding-top: 10px;
                    }

                    a {
                        text-decoration: none;
                        color: map-get($colors, white);
                    }
                }
            }
        }
    }

    .last-footer-part {
        background: map-get($colors, footer-background-color);
        color: map-get($colors, white);

        .copyright-div {
            p {
                line-height: 32px;
                letter-spacing: 0.03em;

                @media (min-width: 320px) and (max-width: 767px) {
                    letter-spacing: 0px;
                }
            }
        }

        .payment {
            @include custom-display(flex);
            @include custom-justify-content(flex-end);

            @media (min-width: 320px) and (max-width: 767px) {
                @include custom-justify-content(center);

                padding-top: 0px;
            }
        }
    }
}
